#moreAboutCollection {
  margin: auto;
  margin-bottom: 30px;
}

#horizontalScrolling {
  position: relative;
  flex-direction: column;
  max-height: 400px;
  overflow-x: scroll;
  overflow-y: hidden;
}

#horizontalScrolling::-webkit-scrollbar {
  display: none;
}

#horizontalScrolling .col {
  padding-left: 10px;
  padding-right: 10px;
}

#moreAboutCollection .row .col {
  width: 280px;
  padding: 10px;
  height: 100px;
}
