#navbar img {
  margin: auto;
  margin-right: 3%;
  margin-left: 1%;
  width: 80px;
  height: auto;
}

#explorerModal {
  margin: auto;
  position: relative;
  --margin: 5%;
  margin-left: var(--margin);
}

#navbar h6 {
  margin: auto;
  cursor: pointer;
}

#navbar .list-group {
  position: absolute;
  width: 180px;
  top: 40px;
  left: 0px;
  z-index: 1;
}

#accountModal {
  margin: auto;
  position: relative;
  margin-right: 3%;
}

#accountModal .list-group {
  position: absolute;
  width: 180px;
  top: 40px;
  left: -150px;
  z-index: 2;
}
