#collectionCard {
  position: relative;
  border: none;
  width: 100%;
  color: black;
  border-radius: 10px;
}

#collectionCard .card-img-top {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

#collectionCard .card-title {
  margin-left: 25%;
}

#iconOver {
  position: absolute;
  background-color: white;
  bottom: 30px;
  border-radius: 10px;
  width: 15%;
  height: auto;
  padding: 2px;
}

#iconOver img {
  margin: auto;
  text-align: center;
  width: 100%;
  border-radius: 10px;
}
