#HomePage {
  padding: 30px;
}

#HomePage .row h1 {
  text-align: center;
}

#HomePage h5 {
  margin-top: 40px;
}

#HomePage .nav-link {
  color: white;
}

#HomePage .nav-link.active {
  color: #202225;
}
