#verticalDiv {
  margin: 0px;
  padding: 0px;
  max-width: 2%;
}

#verticalDiv > div {
  width: 2px;
  margin: 0px;
  height: 25px;
  background-color: #ffffff;
  opacity: 100%;
  display: block;
  margin: auto;
}

