#nftPage {
  margin: auto;
  margin-top: 50px;
  padding-left: 40px;
  padding-right: 40px;
}

#nftPage .col{
  padding: 20px;
}

#imgNftPage {
  margin: auto;
  text-align: center;
}

#nftPage img {
  width: 100%;
  border-radius: 10px;
}
