body {
  position: relative;
}

p {
  font-family: 'Mulish';
  font-size: 18px;
  font-weight: 400;
}

::-webkit-scrollbar {
  display: none;
}

#Dark {
  background-color: #202225;
  color: rgb(255, 255, 255);
}

#Light {
  background-color: #ffffff;
  color: #04111d;
}

body.light-mode {
  background-color: #ffffff;
}

body.dark-mode {
  background-color: #202225;
}
